#cabeça_empresa
{
    height: 600px;  
    background-color: rgb(223, 235, 246); /* For browsers that do not support gradients */
    background-image: linear-gradient(rgb(20, 75, 142), white);
	text-align: justify;
	font-size: 20px;
    padding: 5% 10% 0 10%; 
    
}

#texto
{
    height: 500px;  
	text-align: justify;
	font-size: 20px;
    padding: 5% 10% 0 0; 
}

#texto0
{
    height: 500px;  
	text-align: justify;
	font-size: 20px;
    padding: 5% 5% 0 5%; 
}

#texto1
{
    height: 500px;  
	text-align: justify;
	font-size: 20px;
    padding: 5% 0 0 10%; 
}


#nosso_espaço
{
    height: 200px;  
	text-align: center;
	font-size: 20px;
    padding: 5% 10% 0 10%; 
    background-image: linear-gradient(white, rgb(245,245,245), white);
}



#fotos_empresa1
{
    height: 400px;  
	text-align: right;
    padding: 0% 10% 0 10%; 
}


#texto_empresa
{
    height: 200px;  
	text-align: center;
	font-size: 20px;
    padding: 8% 0% 0 0%; 
    
}

#fotos_empresa2
{
    height: 400px;  
	text-align: right;
	font-size: 20px;
    padding: 0% 10% 0 10%; 
}

#fotos_empresa3
{
    height: 400px;  
	text-align: right;
	font-size: 20px;
    padding: 0% 10% 0 10%; 
}

@media (max-width:992px) 
{
    #texto
    {
        height: 200px;  
        padding: 5% 10% 0 10%; 
    }

    #texto0
    {
        height: 200px;  
        padding: 5% 10% 0 10%; 
    }

    #texto1
    {
        height: 200px;  
        padding: 5% 10% 0 10%; 
    }

    #nosso_espaço
    {
        height: 100px; 
        padding: 5% 10% 0 10%; 
    }

    #cabeça_empresa
    {
        height: 800px; 
    }

    texto_empresa
    {
        height: 100px;
    }
    #fotos_empresa1
    {
        height: 300px;
        text-align: center;
    }

    #fotos_empresa2
    {
        height: 300px;
        text-align: center;
    }

    #fotos_empresa3
    {
        height: 300px;
        text-align: center;
    }

}

@media (max-width:576px) 
{
    #cabeça_empresa{font-size: 18px;}

    #texto{font-size: 18px;}

    #texto0{font-size: 18px;}

    #texto1{font-size: 18px;}

}
@media (max-width:540px) 
{
    #cabeça_empresa
    {
        height: 950px; 
    }

    #texto
    {
        height: 250px;  
    }

    #texto0
    {
        height: 250px;  
    }

    #texto1
    {
        height: 250px; 
    }
}

@media (max-width:460px) 
{
    #cabeça_empresa
    {
        height: 1150px; 
    }

    #texto
    {
        height: 300px;  
    }

    #texto0
    {
        height: 300px;  
    }

    #texto1
    {
        height: 300px; 
    }
}

@media (max-width:360px) 
{
    #cabeça_empresa
    {
        height: 1450px; 
    }

}


@media (max-width:300px) 
{
    #cabeça_empresa
    {
        height: 1650px; 
    }

    
}